$black-100: #181d26;
$black-200: #02000e;

$gray-cool-100: #a3a5a8;
$gray-cool-200: #8c92ab;
$gray-cool-300: #67666e;
$gray-warm: #828282;

$white: #ffffff;
$white-100: #f6f6f8;
$white-150: #f7f7f8;
$white-200: #f4efef;

$brand-orange: #f96d69;
$brand-pink: #fe5493;

$white-10-percent: #ffffff1a;

//웹 전체 배경, 폰트 색상
body {
  background: linear-gradient(105deg, $black-100 0%, $black-200 100%);
  color: white;
}
