@use "../../styles/color.scss" as *;

//idolChart에서 사용하는 scss
.chartContents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 24px;
}

.img {
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
  gap: 8px;
  border-radius: 40px;
  opacity: 0px;
  object-fit: cover;
}

.chartInfo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 10px;
}

.chartGroup {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  .rank {
    color: $brand-orange;
  }
}

.chartVoteNum {
  display: flex;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.6);
}

//monthlist에서 사용중인 scss
.chartNav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 1200px;
  h2 {
    margin: 80px 0 0 0;
  }
}

.chartBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0 0 0;
  padding: 8px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  margin: 0;
  width: 600px;
  height: 42px;

  background-color: $black-200;
  color: $gray-warm;

  border-style: none;

  &:hover {
    transform: translateY(-5px);
    opacity: rgba(255, 255, 255, 0.8);
  }
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
  border-bottom: 1px solid #ffffff;
}

.LankingChart {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  list-style: none;
}

.moreBtn {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  padding-top: 51px;
}
