* {
  margin: 0 auto;
}

.chartBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img {
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
  gap: 8px;
  border-radius: 40px;
  opacity: 0px;
  object-fit: cover;
}

.chartContents {
  display: flex;
  align-items: center;
}

.chartInfo {
  display: flex;
  align-items: center;
}
