@import "../../styles/color.scss";

.header {
  width: 100%;
  padding: 16px 20px;
  background-color: $black-200;

  &__content {
    display: grid;
    grid-template-columns: 1fr auto 1fr; // 3등분 (왼쪽공간-로고-오른쪽공간)
    align-items: center;
    width: 100%;
  }

  &__logo {
    grid-column: 2; // 가운데 칸
    height: 32px;
    width: 167.92px;
    cursor: pointer;
  }

  &__user {
    grid-column: 3;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-right: 420px; // 오른쪽 여백
    justify-self: end;
  }
}

.tablet,
.mobile {
  .header__user {
    margin-right: 0;
  }
}
