@import "../../styles/color.scss";

.card {
  width: 282px;
  height: 402px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 카드 이미지 컨테이너 */
.card_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card_img {
  object-fit: cover;
  width: 282px;
  height: 293px;
  border-radius: 8px;
}

.card_img_grdiant {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 293px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.9%, $black-200 100%);
}

.card_button {
  position: absolute;
  bottom: 20px;
  width: 234px;
  height: 40px;
}

.card_button_disable {
  position: absolute;
  bottom: 20px;
  width: 234px;
  height: 40px;
  background: $gray-cool-100;
}

/* 카드 글 컨테이너 */
.card_description_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card_title_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card_subtitle {
  font-size: 16px;
  color: $white;
  opacity: 40%;
  line-height: 100%;
}

.card_title {
  font-size: 18px;
  color: $white-150;
  line-height: 100%;
}

/* 카드 크레딧 */
.card_credit_container {
  display: flex;
  justify-content: space-between;
}

.card_credit {
  display: flex;
  align-items: center;
}

.card_credit_logo {
  width: 12px;
  object-fit: cover;
}

.card_credit_count {
  font-size: 12px;
  color: $brand-orange;
}

.card_deadline {
  color: $white-150;
}

/* 진행도 */
.card_goal {
  height: 1px;
  background-color: $white;
}

.card_progress {
  height: 1px;
  width: 56px;
  background-color: $brand-orange;
}
