/* styled.module.scss */
@use "../../styles/color.scss" as *;

.button {
  margin: 0 auto;
  background: linear-gradient(90deg, $brand-orange 0%, $brand-pink 100%);
  border-radius: 3px;

  border: none;
  color: white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

//직각 or 라운드 테두리 결정

.roundedButton {
  border-radius: 24px;
}

.moreButton {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 143px;
  gap: 8px;
  border-radius: 3px;
  border: 1px solid rgba(241, 238, 249, 0.8);
}
