/* styled.module.scss */
@use "../../styles/color.scss" as *;

.button {
  background: linear-gradient(90deg, $brand-orange 0%, $brand-pink 100%);
  border-radius: 3px;

  border: none;
  color: white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

//직각 or 라운드 테두리 결정

.roundedButton {
  border-radius: 20px;
}
